@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*,
*::before,
*::after {
   box-sizing: border-box;
   font-family: 'Space Mono', monospace;
   font-weight: 700;
   transition: all .3s ease-out;
}

:root {
    /* * -------------------------- PAGE COLORS ------------------------ */   
  
      --clr-primary: hsl(172, 67%, 45%);
      
      --clr-neutral-800: hsl(183, 100%, 15%);
      --clr-neutral-700: hsl(186, 14%, 43%);
      --clr-neutral-600: hsl(184, 14%, 56%);
      --clr-neutral-500: hsl(185, 41%, 84%);
      --clr-neutral-400: hsl(189, 41%, 97%);
      --clr-neutral-300: hsl(0, 0%, 100%);
      
/* * -------------------------- MOBILE Font SIZES ------------------------ */
      
      --fs-700: 2rem;         /* 32px */
      --fs-600: 1.5rem;       /* 24px */
      --fs-500: 1.25rem;      /* 20px */
      --fs-400: 1rem;         /* 16px */
      --fs-300: .8125rem      /* 13px */
  
      --lh-700: 3rem;         /* 48px */
      --lh-600: 2.25rem;      /* 36px */
      --lh-500: 1.875rem;     /* 20px */
      --lh-400: 1.5rem;       /* 24px */
      --lh-300: 1.25rem;      /* 20px */
}

/* * -------------------------- LAPTOP Font SIZES ------------------------ */

@media screen and (min-width: 40em) {
    :root {
      --fs-700: 3rem;      /* 48px */
  
      --lh-700: 4.5rem;       /* 72px */
    }
}
  

h1 {
    display: none;
}

body {
    background-color: #C5E4E7;
    min-width: 375px;
}

.hero-logo {
    display: block;
    margin-block: 3.125rem 2.5rem;
    margin-inline: auto;
}

.app {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-neutral-300);
    border-radius: 25px 25px 0px 0px;
    padding-block: 2rem;
    padding-inline: 1.5rem;
    gap: 2rem;
}

@media screen and (min-width: 40em) {
    .app {
        width: min(100% - 8rem, 920px);
        margin-inline: auto;
    }

    .hero-logo {
        margin-top: min(15% ,163px);
        margin-bottom:  min(8% ,88px);
    }
}

@media screen and (min-width: 60em) {
    .app {
        flex-direction: row;
        border-radius: 25px;
        padding: 2rem
    }
}
/* * ================== INPUT SECTION ================== */

.app__input-sec {
    display: flex;
    flex-direction: column;
    padding-inline: .5rem;
}

@media screen and (min-width: 60em) {
    .app__input-sec {
        padding-inline: 0;
        padding-block: .8125rem 1rem;
    }
}

label {
    font-size: var(--fs-400);
    line-height: var(--lh-400);
    color: var(--clr-neutral-700);
}

input {
    background-color: var(--clr-neutral-400);
    border: none;
    border-radius:5px;
    color: var(--clr-neutral-800);
    padding-block: .375rem;
    padding-inline: 2.5rem 1rem;
    text-align: right;
    font-size: var(--fs-600);
    line-height: var(--lh-600);
}

input::placeholder {
    color: var(--clr-neutral-600);
}


#bill {
    background-image: url(../images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 6% 50%;
    margin-block: .375rem 2rem;
}

@media screen and (min-width: 60em) {
    #bill {
        margin-block: .375rem 2.5rem;
    }
}

.input-sec__btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-block: 1rem 2rem;
}

.button-small {
    width: calc(50% - .5rem);
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-300);
    border: none;
    border-radius: 5px;
    font-size: var(--fs-600);
    line-height: var(--lh-600);
    padding-block: .375rem;
}

#custom {
    width: calc(50% - .5rem);
}


#custom::placeholder {
    color: var(--clr-neutral-800);
}

@media screen and (min-width: 60em) {
    .input-sec__btn-container {
        gap: .875rem;
    }
    
    #custom,
    .button-small {
        width: calc(33.3% - .875rem);
    }

    #custom,
    #custom::placeholder
     {
        text-align: center !important;
        padding-inline: .5rem;
    }    

    .input-sec__btn-container {
        margin-bottom: 2.5rem;
    }
}

#people-count {
    background-image: url(../images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 6% 50%;
    margin-top: .375rem;
}

/* * ================== OUTPUT SECTION ================== */

.app_output-sec {
    background-color: var(--clr-neutral-800);
    border-radius: 15px;
    padding: 1.75rem 1.375rem 1.5rem 1.375rem;
}

@media screen and (min-width: 60em) {
    .app_output-sec {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 50%;
        padding: 2.5rem;
    }
}

.output-sec__result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}


h2 {
    color: var(--clr-neutral-300);
    font-size: var(--fs-400);
    line-height: var(--lh-400);
}

p {
    color: var(--clr-neutral-600);
    font-size: var(--fs-300);
    line-height: var(--lh-300);
}

.result {
    font-size: var(--fs-700);
    line-height: var(--lh-700);
    color: var(--clr-primary);
}

.button-reset {
    width: 100%;
    font-size: var(--fs-600);
    line-height: var(--lh-600);
    background-color: var(--clr-primary);
    color: var(--clr-neutral-800);
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding-block: .5625rem;
}

.button-reset:disabled {
    background-color: #0D686D;
}